---
import Year from '../components/Year.astro'
import Layout from '../layouts/Layout.astro'
import { type Props as LeaderProps } from '../components/Leader.astro'

const leadersAndYear: { year: string, leaders: LeaderProps[] }[] = [
	{
		year: '2021',
		leaders: [
			{ name: 'Agustín Covarrubias', description: 'Cargo de confianza', image: 'https://media.licdn.com/dms/image/C4D03AQHdFsdJjoZrnw/profile-displayphoto-shrink_200_200/0/1606413507924?e=1729728000&v=beta&t=_mk1ZfZ6FmDcaEhaWvkW4JObq-AE1k9s625GZV-kv9E' },
			{ name: 'Gabriel Faúndez', description: 'Cargo de confianza', image: 'https://media.licdn.com/dms/image/v2/D5603AQF9AmiyfzicNg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720609894546?e=1729728000&v=beta&t=fIDl-rZD7xQcD3iJgDqBlasDn6MCeVhB72NXE7zo-UA' },
			{ name: 'Benjamín Vicente', description: 'Facilitador y Cargo de confianza', image: 'https://media.licdn.com/dms/image/C5603AQGzOM5NHrx7Sw/profile-displayphoto-shrink_200_200/0/1640096111990?e=1729728000&v=beta&t=S6Dvq3V_L4yD0_bV5m5EunY_dAk_t-wsjnUdF0cbJs8' }
		]
	},
	{
		year: '2022-1',
		leaders: [
			{ name: 'Lucas Natero', description: 'Administrativo', image: 'https://avatars.githubusercontent.com/u/64765306?v=4' },
			{ name: 'Fernando Smith', description: 'Administrativo, técnico', image: 'https://media.licdn.com/dms/image/D4E03AQG5aN6ubPr2Pg/profile-displayphoto-shrink_200_200/0/1692756571169?e=1729728000&v=beta&t=8So1oS2-b_Wv9b1mAXef0s6H98wXJ_mgD9wTayErXa4' },
			{ name: 'Caua Paz', description: 'Técnico, asiste en forma online (Ret)', image: 'https://media.licdn.com/dms/image/v2/C4D03AQELdtnV402z5Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1639106406751?e=1729728000&v=beta&t=tdX5DK9QFXJIEFBV4aKB9MRU1X17KqhEa_qJfO6cgj4' },
			{ name: 'Benjamín Vicente', description: 'Administrativo, Técnico, Social', image: 'https://media.licdn.com/dms/image/C5603AQGzOM5NHrx7Sw/profile-displayphoto-shrink_200_200/0/1640096111990?e=1729728000&v=beta&t=S6Dvq3V_L4yD0_bV5m5EunY_dAk_t-wsjnUdF0cbJs8' },
			{ name: 'Nicolás Berrios', description: 'Administrativo, Social', image: 'https://media.licdn.com/dms/image/D4E03AQG8TJ2g3C5GDw/profile-displayphoto-shrink_100_100/0/1701469568099?e=1729728000&v=beta&t=m7PILWfW9EyuawjRoqOCdCFihg_OsZwjdM2PgbaH0cI' },
			{ name: 'Alister Mac Cormack', description: 'Administrativo, Técnico, Social', image: 'https://media.licdn.com/dms/image/D4E03AQGygFgxO4hVUQ/profile-displayphoto-shrink_100_100/0/1688010114367?e=1729728000&v=beta&t=qbNS6175WRWj7WrmTu9c6McIzwFLd6PdZIFqy8n71dY' }
		]
	},
	{
		year: '2022-2',
		leaders: [
			{ name: 'Maximiliano Militzer', description: 'General (Ret)', image: 'https://media.licdn.com/dms/image/D4E03AQEYjA2XAmnYGQ/profile-displayphoto-shrink_100_100/0/1719448146232?e=1729728000&v=beta&t=nX9usHKB4ePcAQTMByrGQpnw78eNp54-etVWo21I4nE' },
			{ name: 'Benjamín Vicente', description: 'Proyectos', image: 'https://media.licdn.com/dms/image/C5603AQGzOM5NHrx7Sw/profile-displayphoto-shrink_200_200/0/1640096111990?e=1729728000&v=beta&t=S6Dvq3V_L4yD0_bV5m5EunY_dAk_t-wsjnUdF0cbJs8' },
			{ name: 'Fernando Smith', description: 'Educación', image: 'https://media.licdn.com/dms/image/D4E03AQG5aN6ubPr2Pg/profile-displayphoto-shrink_200_200/0/1692756571169?e=1729728000&v=beta&t=8So1oS2-b_Wv9b1mAXef0s6H98wXJ_mgD9wTayErXa4' },
			{ name: 'Lucas Natero', description: 'Externo y Diseño', image: 'https://avatars.githubusercontent.com/u/64765306?v=4' },
			{ name: 'Diego Costa', description: 'Comunidad', image: 'https://media.licdn.com/dms/image/v2/D4E03AQGuczMU6gvOMg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1718812788741?e=1729728000&v=beta&t=eflWfsSINPMlxK0Eu1DJfGqcwGpkCh71nIx3z1d1gDU' },
			{ name: 'Agustín Covarrubias', description: 'Comodín', image: 'https://media.licdn.com/dms/image/C4D03AQHdFsdJjoZrnw/profile-displayphoto-shrink_200_200/0/1606413507924?e=1729728000&v=beta&t=_mk1ZfZ6FmDcaEhaWvkW4JObq-AE1k9s625GZV-kv9E' }
		]
	},
	{
		year: '2023-1',
		leaders: [
			{ name: 'Benjamín Vicente', description: 'General', image: 'https://media.licdn.com/dms/image/C5603AQGzOM5NHrx7Sw/profile-displayphoto-shrink_200_200/0/1640096111990?e=1729728000&v=beta&t=S6Dvq3V_L4yD0_bV5m5EunY_dAk_t-wsjnUdF0cbJs8' },
			{ name: 'Lucas Natero', description: 'Externo y Diseño', image: 'https://avatars.githubusercontent.com/u/64765306?v=4' },
			{ name: 'Diego Costa', description: 'Comunidad', image: 'https://media.licdn.com/dms/image/v2/D4E03AQGuczMU6gvOMg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1718812788741?e=1729728000&v=beta&t=eflWfsSINPMlxK0Eu1DJfGqcwGpkCh71nIx3z1d1gDU' },
			{ name: 'Emmanuel Norambuena', description: 'Educación', image: 'https://emmyjs.pages.dev/eanorambuena.webp' },
			{ name: 'Enzo Morata', description: 'Proyectos (Ret)', image: 'https://media.licdn.com/dms/image/v2/D4E03AQGqEJzXENzGkw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1704484099205?e=1729728000&v=beta&t=1_j1l44FVsYVnGzabxvdRKvkBQ4MoW023iJlHcI0j8Y' }
		]
	},
	{
		year: '2023-2',
		leaders: [
			{ name: 'Emmanuel Norambuena', description: 'General', image: 'https://emmyjs.pages.dev/eanorambuena.webp' },
			{ name: 'Fabián Mendoza', description: 'General', image: 'https://media.licdn.com/dms/image/v2/D4E03AQHafr3kCOtrrQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720200356382?e=1729728000&v=beta&t=Dh8GW3zKKGUF7F5birYDIyKebva7rvGrJr_cH98l1-8' },
			{ name: 'Matías Fernández', description: 'Proyectos', image: '' },
			{ name: 'Benjamín Ubilla', description: 'Comunidad y Educación', image: '' },
			{ name: 'Josefa Fernández', description: 'Diseño', image: 'https://media.licdn.com/dms/image/v2/D4E03AQHj_WAAmnOcng/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720992819696?e=1729728000&v=beta&t=p6bjW9UMwTa4wRNIKtjpj53esR7iA3DjnsSF49ftrWI' }
		]
	},
	{
		year: '2024-1',
		leaders: [
			{ name: 'Fabián Mendoza', description: 'General', image: 'https://media.licdn.com/dms/image/v2/D4E03AQHafr3kCOtrrQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720200356382?e=1729728000&v=beta&t=Dh8GW3zKKGUF7F5birYDIyKebva7rvGrJr_cH98l1-8' },
			{ name: 'Emmanuel Norambuena', description: 'General (Ret)', image: 'https://emmyjs.pages.dev/eanorambuena.webp' },
			{ name: 'Matías Fernández', description: 'Comunidad', image: '' },
			{ name: 'Nicolás Cruzat', description: 'Marketing y Diseño', image: 'https://media.licdn.com/dms/image/v2/D4E03AQEsMFt-UpJTKQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1693757025637?e=1729728000&v=beta&t=qPQu64v-vNuB4A01AuDKi2jCNyyZP8whTGIRchN15tw' },
			{ name: 'Xavier Morales', description: 'Educación y Vinculación con el Medio', image: '' },
			{ name: 'Amelia Fernández', description: 'Educación y Vinculación con el Medio', image: '' }
		]
	},
	{
		year: '2024-2',
		leaders: [
			{ name: 'Vicente Muñoz', description: 'General', image: '' },
			{ name: 'Fabián Mendoza', description: 'Externo', image: 'https://media.licdn.com/dms/image/v2/D4E03AQHafr3kCOtrrQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720200356382?e=1729728000&v=beta&t=Dh8GW3zKKGUF7F5birYDIyKebva7rvGrJr_cH98l1-8' },
			{ name: 'Vicencio', description: 'Interno', image: '' }
		]
	}
]
---

<Layout title='Coordinadores de OSUC.'>
	<main class='lg:max-w-[80%] mx-auto p-4 gap-4 flex flex-col justify-center items-center w-full'>
		<h1 class='text-6xl font-bold'>Coordinadores de OSUC</h1>
		<ul role='list' class='flex flex-col gap-6 justify-center items-center p-4'>
			{leadersAndYear.toReversed().map(({ year, leaders }) => (
				<Year year={year} leaders={leaders} />
			))}
		</ul>
	</main>
</Layout>
